@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*, 
*::before, 
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Itim', cursive;
  display: grid;
  align-items: center;
}
h1 {
  text-align: center;
  border-bottom: 0.1em solid #000;
  justify-content: center;
  margin: 0.25em auto 0.5em;
}
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keys {
  display: flex;
  background-color: #000;
  border-top: 4em solid;
  border-right: 1.25em solid;
  border-left: 1.25em solid;
  border-radius: 1em;
}
.key {
  margin: 0.15em;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border: 1px solid rgba(32,32,32,0.2);
  cursor: pointer;
}
.key-title,
.key-letter {
  text-align: center;
}
.key-letter {
  margin-top: 0.25em;
}
.black .key-title {
  margin-top: 8.5em;
}
.white .key-title {
  margin-top: 14.5em;
}
.white {
  background-color: white;
  border-bottom: 0.25em solid #b3b3b3;
  border-radius: 0 0 0.5em 0.5em;
  width: 5.2em;
  height: 18em;
  z-index: 0;
}
.white.active {
  background-color: #CCC;
}
.black {
  background-color: #252525;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  margin-left: calc(3.6em / -2);
  margin-right: calc(3.6em / -2);
  width: 3.4em;
  height: 12em;
  z-index: 1;
}
.black.active {
  background-color: #333;
}
footer {
  text-align: center;
  width: 100%;
}